

  <li>
    <a href="https://scholar.google.com/citations?user=yb1fwgMAAAAJ&hl=en">
      <i class="fa fa-google" aria-hidden="true"></i> Google Scholar
    </a>
  </li>

  <li>
    <a href="https://osf.io/4udg9">
      <i class="fa fa-flask" aria-hidden="true"></i> Open Science Framework
    </a>
  </li>

<li><a href="https://github.com/jlnrd" target = _blank><i class="fa  fa-github"></i> GitHub</a></li>

<li><a href="https://twitter.com/SciAmericanGirl" target = _blank><i class="fa fa-twitter-square"></i> Twitter</a></li>

  <li>
    <a href="mailto:jlnrd@mit.edu">
      <i class="fa fa-envelope" aria-hidden="true"></i> Contact
    </a>
  </li>
